
body {
    margin: 0;
    padding: 0;
    /*font-family: sans-serif;*/
    font-family: 'Atma', cursive;
  }
  
  #root {
    width: 1024px;
    height: 768px;
    margin: 50px auto;
    border-color: #353535;
    border-radius: 40px;
    border-width: 28px 103px 28px 74px;
    border-style: solid;
    position: relative;
  }
  
  #root:before {
    content: "";
    position: absolute;
    left: -80px;
    transform: rotate(270deg);
    background: url(https://cdn-images-1.medium.com/fit/c/200/200/1*PKHCHuLxDyZ8SV3PKxzizA.png) no-repeat center center / 100%;
    width: 85px;
    height: 180px;
    top: 40%;
  }
  
  #root:after {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background: #5c5c5c;
    position: absolute;
    right: -79px;
    top: 50%;
    border: 1px inset #7b7b7b;
  }
  .navbar{
    color: #1d2129;
    padding: 10px;
    text-align: center;
  }
  
  
  .btnPush{
    background-color:#eb4d4b;
    border: white;
    color: white;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    font-size: 20px;
    width: 6rem;
    margin: 4px auto;
    border-radius: 50%;
    
  }
  .btnPush:focus{
    outline: none;
  }
  
  .footer{
    margin-top: 30rem;
    padding: 1rem;
    background-color:#eb4d4b;
    bottom: 0;
    left: 0;
    width: 97%;
    height: 70px;
  }
  
  .Post{
    display: flex;
    border: 1px solid hsl(216, 8%, 88%);
    border-radius: 4px;
    background-color:#FFF ; 
    padding: 15px;
  }
  .container {
    flex-direction: column-reverse;
  }
  
  .Post_image{
    width: 50%;
    height: 100%;
    margin-top: 5px;
  }
  
  .Post_delete{
    border: none;
    background: none;
   font-family: 'Courier New', Courier, monospace;
   border: white;
   font-size: 20px;
   color:#eb4d4b;
    padding: 0;
    float: right;
    cursor: pointer;
  }
  
  .Center{
    float: right;
  }
  
  .Post_delete:focus{
    outline: none;
  }
  
  .Input_field{
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  .Input_field:focus{
        outline: none;
  }
  input{
    background-image: url("/pokedex/src/search.png");
    background-repeat: no-repeat;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
  
    width: 50%;
    height: 50px;
    
    padding: 20px;
    margin-bottom: 42px;
  
    font-size: 20px;
  }
  input:focus{
    outline: none;
  }
  
  
  .modal-ku {
    width: 750px;
    margin: auto;
  }
  
  .BtnAdd{
    cursor: pointer;
  }
  
  
  input:focus{
    outline: none;
  }
  