
body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Atma', cursive;
}

#root {
  width: 1024px;
  height: 768px;
  margin: 50px auto;
  border-color: #353535;
  border-radius: 40px;
  border-width: 28px 103px 28px 74px;
  border-style: solid;
  position: relative;
}

#root:before {
  content: "";
  position: absolute;
  left: -80px;
  transform: rotate(270deg);
  background: url(https://cdn-images-1.medium.com/fit/c/200/200/1*PKHCHuLxDyZ8SV3PKxzizA.png) no-repeat center center / 100%;
  width: 85px;
  height: 180px;
  top: 40%;
}

#root:after {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background: #5c5c5c;
  position: absolute;
  right: -79px;
  top: 50%;
  border: 1px inset #7b7b7b;
}
.navbar{
  color: #1d2129;
  padding: 10px;
  text-align: center;
}


/* .btnPush{
  background-color:#eb4d4b;
  border: white;
  color: white;
  padding: 20px;
  display: flex; 
  justify-content: center; 
  font-size: 20px;
  width: 6rem;
  margin: 4px auto;
  border-radius: 50%;
} */
.btnPush:focus{
  outline: none;
}

.footer{
  padding: 1rem;
  /* background-color:#eb4d4b; */
  bottom: 0;
  left: 0;
  width: 97%;
  height: 70px;
}

 .Post{
  color: #5c5c5c;
  background-color: rgb(243, 242, 242);
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 4rem;
  box-sizing: border-box;
  height: 25rem;
  width: 100%;
}

.AddData{
  padding: 0;
  border: 0;
  background: none;
  margin-left: 30%;
  position: 20px;
  order: 2;
  cursor: pointer;
  margin-top: -1px;
  width:30px;
  transition: 0.3s;
  height:30px;
}

.Add{
  padding: 0;
  border: 0;
  background: none;
  margin-left: 5%;
  order: 1;
  cursor: pointer;
  margin-top: -1px;
  transition: 0.3s;
  margin-left: -0.5rem;
  height:30px;
}

.Add:focus{
  outline: none;
}

.Post > .Add{
  color:   rgb(243, 242, 242);
}

.Post:hover > .Add{
   color: #eb4d4b;
}

.Post:hover{
  border-color: #7b7b7b;
}


h3{
  color: #1d2129;
}

.Center{
  float: right;
}

.Post_delete:focus{
  outline: none;
}

.searchImage{
  position: absolute;
  left: 90%;
  width: 7.5%;
  top: 12px;
  padding: 9px 8px;
}


.Input{
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 2px;

}
.Input:focus{
  outline: none;
}

.BtnAdd{
  cursor: pointer;
}


.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  transition: opacity 500ms;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#FFF;
  width:92%;
  height:92%;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  border-radius: 2rem;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  /* right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%; */
}
.Detail{
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  margin-left: 1rem;
  width: 100%;
  text-align: left;
}


.name{
  margin: 0;
  margin-top: 15px;
}



/* .C_Detail{
  margin: 20px;
} */


.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}



*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  height: 30%;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}


.Main{
  width: 100%;
  height: 92%;
  margin-top: 5px;
  border: 0;
  padding: 0;
  overflow: auto;
  transition: color .3s ease;
}

.Main:hover {
  color: rgba(0, 0, 0, 0.3);
}

.ConNer{
  width: 100%;
  height: 500px;
  border: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  overflow: auto;
  transition: color .3s ease;
}

.ConNer:hover {
  color: rgba(0, 0, 0, 0.3);
}


.ConCenter{
  display: flex;
  background-color: rgb(243, 242, 242);
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 23rem;
  border-radius: 20px;
  width: 49%;
  margin-left: 5px;
}

.AddData{
  padding: 0;
  border: 0;
  background: none;
  margin-left: 20px;
  margin-right: 10px;
  position: 20px;
  order: 2;
  cursor: pointer;
  margin-top: -1px;
  width:10px;
  transition: 0.3s;
  height:20px;
}

.AddData:focus{
  outline: none;
}
.ConCenter:hover{
  border-color: #353535;
}


.ConCenter > .AddData{
  color:   rgb(243, 242, 242);
}

.ConCenter:hover > .AddData{
   color: #eb4d4b;
}
.Bar{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 5px;
}
.Hp,.Str,.Weak{
  margin: 0;
  margin-right: 2rem;
  margin-bottom: 2px;
  width: 55px;
  height: 25px;
 
}


.BarHp,.BarStr,.BarWeak {
  background-color:#d6d2d2;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  margin-bottom: 5px;
  width: 117px;
 height: 25px;
}
.hpBar, .strBar, .weakBar{
  background-color: #f07a2b;
  margin: 0;
  /* Adjust with JavaScript */
  height: 25px;
  border-radius: 10px;
}

.Imageee{
  margin-left: -5px;
}

.Detail_Data{
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
  width: 100%;
  height: 5%;
}

#container {
  margin: 20px;
  width: 400px;
  height: 8px;
}

.Emogi{
    width: 20%;
    padding: 9px 8px;    
}

.FlexEmo{
  display: flex;
}
